name: Maven CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build: 
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 
      
    - name: Set up JDK 8
      uses: actions/setup-java@3a4f611406f4d853733ad898cb8118d5059e3f11 
      with:
        java-version: 8
        distribution: temurin
        cache: maven
        
    - name: Build with Maven
      run: mvn -B clean verify
